!!!
%html{ :lang => "en"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{ 'name' => 'viewport', 'content'=>'width=device-width, initial-scale=1.0' }
    %title Welcome to localactor.org
    = stylesheet_link_tag 'signatures'
  %body
    #signature
      %h1.name
        Gabriele Marchi
      %p ~
      %p gabriele@thedoersproject.com | +393493286490
      %p s: gabrielemarchi85 | t: 
      %p ~
      <a href="http://www.thedoersproject.com">http://www.thedoersproject.com</a>
      %p ~
      %p via San Domenico 30 Turin, Italy
      %p.asterisk **
      = image_tag("logo_signature.png",:class=>"logo-signature")

      
    #signature
      %h1.name
        Piermaria Cosina
      %p ~
      %p piermaria@thedoersproject.com | +393924822633
      %p s: piermaria.cosina | t: @piermaria
      %p ~
      <a href="http://www.thedoersproject.com">http://www.thedoersproject.com</a>
      %p ~
      %p via San Domenico 30 Turin, Italy
      %p.asterisk **
      = image_tag("logo_signature.png",:class=>"logo-signature")
     
    #signature
      %h1.name
        Manuela Cammilleri
      %p ~
      %p manuela@thedoersproject.com | +393334692630
      %p s: elarummiel | t: @elarummiel
      %p ~
      <a href="http://www.thedoersproject.com">http://www.thedoersproject.com</a>
      %p ~
      %p via San Domenico 30 Turin, Italy
      %p.asterisk **
      = image_tag("logo_signature.png",:class=>"logo-signature")
      
    #signature
      %h1.name
        Irene Cassarino
      %p ~
      %p irene@thedoersproject.com | +393393723401
      %p s: osagep78 | t: @irenecassarino
      %p ~
      <a href="http://www.thedoersproject.com">http://www.thedoersproject.com</a>
      %p ~
      %p via San Domenico 30 Turin, Italy
      %p.asterisk **
      = image_tag("logo_signature.png",:class=>"logo-signature")
      
    #signature
      %h1.name
        Giulia Barra
      %p ~
      %p giulia@thedoersproject.com | +393297885874
      %p s: jujifizi | t: @jujifizi
      %p ~
      <a href="http://www.thedoersproject.com">http://www.thedoersproject.com</a>
      %p ~
      %p via San Domenico 30 Turin, Italy
      %p.asterisk **
      = image_tag("logo_signature.png",:class=>"logo-signature") 
      
      
      