%section.page
  %ul#projects-wall

    -#
      %li.wall-container-photo
        .fulminetti
        %a.wall{href: '/project-page-winepass.html'}
          <span class="underline">winepass</span> <span class="subtitle"> </span> <span class="date">13<span class="slash"> / </span>06<span class="slash"> / </span><span class="year">13</span></span>
        = image_tag("portfolio/wall/low/winepass_w_1_low.jpg", :alt=>"Winepass project", :"data-src"=>"images/portfolio/wall/winepass_w_1.jpg")
    %li.wall-container-photo
      .fulminetti
      %a.wall{href: '/project-page-soccersquare.html'}
        <span class="underline">Soccersquare</span> <span class="subtitle"> social game </span> <span class="date">29<span class="slash"> / </span>05<span class="slash"> / </span><span class="year">13</span></span>
      = image_tag( "portfolio/wall/soccersquare_w_1.png",:alt=>"Soccersquare project")

    %li.wall-container-photo
      .fulminetti
      %a.wall{href: '/project-page-fabrica.html'}
        <span class="underline">Fabrica</span> <span class="subtitle"> communications research centre </span> <span class="date">03<span class="slash"> / </span>05<span class="slash"> / </span><span class="year">13</span></span>
      = image_tag("portfolio/wall/fabrica_w_1.gif",:alt=>"Fabrica project")

    %li.wall-container-photo
      .fulminetti
      %a.wall{href: '/project-page-oilproject.html'}
        <span class="underline">oilproject</span> <span class="subtitle"> corsi online </span> <span class="date">13<span class="slash"> / </span>06<span class="slash"> / </span><span class="year">13</span></span>
      = image_tag("portfolio/wall/low/oilproject_w_1_low.jpg",:alt=>"Oilproject",:"data-src"=>"images/portfolio/wall/oilproject_w_1.jpg")

    %li.wall-container-photo
      .fulminetti
      %a.wall{href: '/project-page-regalister.html'}
        <span class="underline">Regalister</span> <span class="subtitle"> gift list iphone app </span> <span class="date">07<span class="slash"> / </span>08<span class="slash"> / </span><span class="year">13</span></span>
      = image_tag( "portfolio/wall/regalister_w_1.png",:alt=>"Regalister project")

    %li.wall-container-photo
      .fulminetti
      %a.wall{href: '/project-page-tacati.html'}
        <span class="underline">tacatì</span> <span class="subtitle"> la spesa a km 0 </span> <span class="date">13<span class="slash"> / </span>06<span class="slash"> / </span><span class="year">13</span></span>
      = image_tag("portfolio/wall/low/tacati_w_1_low.jpg",:alt=>"Tacati project", :"data-src"=>"images/portfolio/wall/tacati_w_1.jpg")

    %li.wall-container-photo
      .fulminetti
      %a.wall{href: '/project-page-bookolico.html'}
        <span class="underline">Bookolico</span> <span class="subtitle"> e-publishing </span> <span class="date">31<span class="slash"> / </span>11<span class="slash"> / </span><span class="year">13</span></span>
      = image_tag("portfolio/wall/bookolico_w_3.png",:alt=>"Bookolico  project")

    %li.wall-container-photo
      .fulminetti
      %a.wall{href: '/project-page-pubcoder.html'}
        <span class="underline">PubCoder</span> <span class="subtitle"> e-publishing software</span> <span class="date">13<span class="slash"> / </span>06<span class="slash"> / </span><span class="year">13</span></span>
      = image_tag("portfolio/wall/pubcoder_w_3.png",:alt=>"Pubcoder project")

    %li.wall-container-photo
      .fulminetti
      %a.wall{href: '/project-page-weightanalytics.html'}
        <span class="underline">weight analytics</span> <span class="subtitle"> altair </span> <span class="date">21<span class="slash"> / </span>07<span class="slash"> / </span><span class="year">13</span></span>
      = image_tag("portfolio/wall/weight_w_2.png",:alt=>"Weightanalytics project")

    %li.wall-container-photo
      .fulminetti
      %a.wall{href: '/project-page-localactors.html'}
        <span class="underline">localactors</span> <span class="subtitle"> crowdfunding </span> <span class="date">05<span class="slash"> / </span>11<span class="slash"> / </span><span class="year">13</span></span>
      = image_tag("portfolio/wall/localactors_w_2.png",:alt=>"Localactors project")

    %li.wall-container-photo
      .fulminetti
      %a.wall{href: 'http://arcadiaproject.github.io/tracks/ixdtuesday.html', target: '_blank'}
        <span class="underline">ixdt</span> <span class="subtitle"> interaction design tuesday </span> <span class="date">18<span class="slash"> / </span>08<span class="slash"> / </span><span class="year">13</span></span>
      = image_tag("portfolio/wall/ixdt_w_2.png",:alt=>"Ixdt project")


    %li.wall-container-photo
      .fulminetti
      %a.wall{href: 'http://arcadiaproject.github.io', target: '_blank'}
        <span class="underline">arcadia</span> <span class="subtitle"> a network of geeks, hackers, designerds </span> <span class="date">04<span class="slash"> / </span>02<span class="slash"> / </span><span class="year">13</span></span>
      = image_tag("portfolio/wall/arcadia_w_1.png",:alt=>"Arcadia project")

    %li.wall-container-photo
      .fulminetti
      %a.wall{href: '/project-page-alphabots.html'}
        <span class="underline">alphabots</span> <span class="subtitle">  </span> <span class="date">13<span class="slash"> / </span>06<span class="slash"> / </span><span class="year">13</span></span>
      = image_tag("portfolio/wall/alphabot_w_1.png",:alt=>"Alphabost project")

    %li.wall-container-photo
      .fulminetti
      %a.wall{href: '/project-page-tamtown.html'}
        <span class="underline">tamtown</span> <span class="subtitle"> crowdsourcing </span> <span class="date">13<span class="slash"> / </span>06<span class="slash"> / </span><span class="year">13</span></span>
      = image_tag("portfolio/wall/tamtown_w_3.png", :alt=>"Tamtown project")

    %li.wall-container-photo
      .fulminetti
      %a.wall{href: '/project-page-pupulito.html'}
        <span class="underline">pupulito</span> <span class="subtitle"> nappy service </span> <span class="date">13<span class="slash"> / </span>06<span class="slash"> / </span><span class="year">13</span></span>
      = image_tag("portfolio/wall/low/pupulito_w_1_low.jpg",:alt=>"Pupulito project", :"data-src"=>"images/portfolio/wall/pupulito_w_1.jpg")

    %li.wall-container-photo
      .fulminetti
      %a.wall{href: '/project-page-amolamusica.html'}
        <span class="underline">Amolamusica</span> <span class="subtitle">  </span> <span class="date">03<span class="slash"> / </span>05<span class="slash"> / </span><span class="year">13</span></span>
      = image_tag( "portfolio/wall/amolamusica_w_1.gif", :alt=>"Amolamusica project")

    %li.wall-container-photo
      .fulminetti
      %a.wall{href: '/project-page-gnammo.html'}
        <span class="underline">gnammo</span> <span class="subtitle"> social eating </span> <span class="date">01<span class="slash"> / </span>04<span class="slash"> / </span><span class="year">13</span></span>
      = image_tag( "portfolio/wall/low/gnammo_w_1_low.jpg", :alt=>"Gnammo project", :"data-src"=>"images/portfolio/wall/gnammo_w_1.jpg")

    %li.wall-container-photo
      .fulminetti
      %a.wall{href: '/project-page-volleysquare.html'}
        <span class="underline">volleysquare</span> <span class="subtitle"> social game </span> <span class="date">05<span class="slash"> / </span>11<span class="slash"> / </span><span class="year">13</span></span>
      = image_tag( "portfolio/wall/volleysquare_w_1.png",:alt=>"Volleysquare project")

    %li.wall-container-photo
      .fulminetti
      %a.wall{href: '/project-page-letscommerce.html'}
        <span class="underline">letscommerce</span> <span class="subtitle">  </span> <span class="date">13<span class="slash"> / </span>06<span class="slash"> / </span><span class="year">13</span></span>
      = image_tag("portfolio/wall/low/letscommerce_w_1_low.jpg",:alt=>"Letscommerce project", :"data-src"=>"images/portfolio/wall/letscommerce_w_1.jpg")

    %li.wall-container-photo
      .fulminetti
      %a.wall{href: '/project-page-artmob.html'}
        <span class="underline">artmob</span> <span class="subtitle">  </span> <span class="date">13<span class="slash"> / </span>06<span class="slash"> / </span><span class="year">13</span></span>
      = image_tag("portfolio/wall/artmob_w_3.png",:alt=>"Artmob project")

    %li.wall-container-photo
      .fulminetti
      %a.wall{href: '/project-page-cineama.html'}
        <span class="underline">cineama</span> <span class="subtitle">  </span> <span class="date">13<span class="slash"> / </span>06<span class="slash"> / </span><span class="year">13</span></span>
      = image_tag( "portfolio/wall/cineama_w_1.gif",:alt=>"Cineama project")


  -#.bottom-spacer-projects

