---
title: "Bookolico"
---
-# coding: utf-8
%a.logo-doers{href: 'http://www.thedoers.co/'}
= partial'partials/menucontainer'

%section.page.submit
  %h1.main-black-pink-title
    %span.wave_line.left
    %span.wave_line.right
    %span.container
      %span
        bookolico
        %span.shadow-right
        %span.shadow-bottom

  .black-pink-title
    %h3
      %span
        A book can dream.
        %span.shadow-right
        %span.shadow-bottom
      %span
        Read it. Write it.
        %span.shadow-right
        %span.shadow-bottom
    %h2
      %span.container
        %span
          e-publishing
          %span.shadow-right
          %span.shadow-bottom

  .project-description
    .container-p
      %p.project-description
        If you want to paraphrase what political economist Janet Wasko once wrote about movies, you can certainly say that:
      %p.project-description.quote
        “A book must be placed within an entire social, economic and political context and critiqued in terms of the contribution to maintaining and reproducing structures of power”
      %p.project-description
        Well: Bookolico is a startup that wants to give back to readers and writers the power over books, and therefore have a deep impact on our society.
      %p.project-description
        Are you a writer? Ok, you make your living in another way: we know you LOVE your job (you are a doctor, we suppose). Nevertheless, be honest: you occasionally write, and you love it as well. Don’t be shy.
        Writing, in our society, is not considered an activity you can perform respectably twice per week, like swimming. But, hey you: this is not your problem, it’s ours. You write. And yes, you can publish what you write. And YES! We can read it eventually!!
      %p.project-description
        Wait: there is a big difference though between swimming and writing twice per week. While swimming you consume value. While writing, you MAKE vuale – for others – and you deserve to be rewarded for it: that’s what Bookolico is for. Bookolico will help sharing and trading the value of ‘writings’(shall we call them eBooks?), in a way to respect both the time spent writing and the time spent reading. (Indeed: the cost of the book is equal to the price of the book + value of the time spent reading. If the book costs too much, in fact, we tend to ask ourselves: do we really need it? Will we ever bother to read it (=have the time to read it)?)
      %p.project-description
        Bookolico’s founder, Giuseppe Spezzano, clearly knows it: to stimulate the circulation of writings, and therefore of dreams, we need to offer reader an affordable choice of fruition, and writers a possibility to share what they do, and be rewarded for it. In a simple, understandable way. With just a small percentage left to Bookolico’s platform.
      %p.project-description
        How much such a percentage is? How do Bookolico will actually work and look like? We cannot reveal too much (we’ll do it in the near future!). For now we can just say that:
      %p.project-description.point
        Bookolico has a very interesting blog, for the pleasure of Italian readers;
      %p.project-description.point
        Bookolico offers you a candy: in Bookolico’s landing page you can enjoy each week a different excerpt from novels of independent writers and vote it, while staying in touch with Bookolico updates. Tempted? Just go to www.bookolico.com and grasp some delicious finger food for your dreams!
      %p.project-description
        %a.gotoproject{href: 'http://www.bookolico.com/'} Go to project
    %hr.horizontal-dotted
    %hr.vertical-dotted
    %ul.areas
      %li
        .icon.business
        %h5
          Business and service modeling
      %li.active
        .icon.interaction
        %h5
          User experience and Interaction design
      %li
        .icon.technology
        %h5
          Technology strategy and digital development
      %li.active
        .icon.identity
        %h5
          Communication and Identity
      %li.active
        .icon.graphics
        %h5
          Graphics and UI
  .project-info
    .black-pink-title.info
      %h2
        .container
          %span
            info
            .shadow-right
            .shadow-bottom
            %span.update
              last update: 15<span class="slash">/</span> 09<span class="slash">/</span> 2013
    .container-single-info
      %h4
        released on:
      %hr
      %p.date
        <span class="day">14 <span class="slash-date">/</span></span> <span class="month">april<span class="slash-date">/</span> </span>  <span class="year">2012</span>
    .container-single-info
      %h4
        n° of users:
      %hr
      %p.users
        ND
    .container-single-info
      %h4
        press:
      %hr
      %ul.press
        %li
          %a.press{href: 'http://www.ictbusiness.it/cont/news/smau-torino-premia-i-campioni-d-innovazione/30824/1.html'}
            ict business
          %p.date-press
            10 <span class="slash-press">/</span> 05 <span class="slash-press">/</span> 2013
        %li
          %a.press{href: 'http://en.startupbusiness.it/news/startuppers-swing-giuseppe-spezzano-bookolico'}
            startup business
          %p.date-press
            29 <span class="slash-press">/</span> 05 <span class="slash-press">/</span> 2012
        %li
          %a.press{href: 'http://www.fareletteratura.it/2012/05/22/il-nostro-partner-bookolico/'}
            fareletteratura.it
          %p.date-press
            22 <span class="slash-press">/</span> 05 <span class="slash-press">/</span> 2012
    .container-single-info.last
      %h4
        funding:
      %hr
      %ul.funding
        %li
          %span.funder
            not disclosable

  %hr.spacer-project
  .project-container-photo
    .img-medium.spacer
      = image_tag("portfolio/bookolico/low/bookolico_pf_1_low.jpg",:alt=>"Bookolico project", :"data-src"=>"images/portfolio/bookolico/bookolico_pf_1.jpg")
  .project-container-photo
    .img-medium
      = image_tag("portfolio/bookolico/low/bookolico_pf_2_low.jpg",:alt=>"Bookolico project", :"data-src"=>"images/portfolio/bookolico/bookolico_pf_2.jpg")
  .project-container-photo
    .img-medium
      = image_tag("portfolio/bookolico/low/bookolico_pf_3_low.jpg",:alt=>"Bookolico project", :"data-src"=>"images/portfolio/bookolico/bookolico_pf_3.jpg")
  %hr.spacer-project
  .project-container-photo
    .img-medium.spacer
      = image_tag("portfolio/bookolico/bookolico_pf_4.gif",:alt=>"Bookolico project")
  %hr.spacer-project
  .project-container-photo
    .img-large
      = image_tag("portfolio/bookolico/low/bookolico_pf_6_large_low.jpg",:alt=>"Bookolico project", :"data-src"=>"images/portfolio/bookolico/bookolico_pf_6_large.jpg")
  .project-container-photo
    .img-large
      = image_tag("portfolio/bookolico/low/bookolico_pf_5_large_low.jpg",:alt=>"Bookolico project", :"data-src"=>"images/portfolio/bookolico/bookolico_pf_5_large.jpg")
    .description-image
      .corner
      .black-pink-title-small
        %h2
          .container
            %span
              bookolico
              .shadow-right
              .shadow-bottom
            %span
              offers
              .shadow-right
              .shadow-bottom
            %span
              you
              .shadow-right
              .shadow-bottom
            %span
              a
              .shadow-right
              .shadow-bottom
            %span
              candy:
              .shadow-right
              .shadow-bottom
      %p
        in Bookolico’s landing page you can enjoy each week a different excerpt from novels of independent writers and vote it, while staying in touch with Bookolico updates.
  %hr.spacer-project
  .project-container-photo
    .img-medium.spacer
      = image_tag("portfolio/bookolico/bookolico_pf_7.gif",:alt=>"Bookolico project")
  %hr.spacer-project
  .project-container-photo
    .img-large
      = image_tag("portfolio/bookolico/low/bookolico_pf_9_large_low.jpg",:alt=>"Bookolico project", :"data-src"=>"images/portfolio/bookolico/bookolico_pf_9_large.jpg")
  .project-container-photo
    .img-large
      = image_tag("portfolio/bookolico/low/bookolico_pf_10_large_low.jpg",:alt=>"Bookolico project", :"data-src"=>"images/portfolio/bookolico/bookolico_pf_10_large.jpg")
  .project-container-photo
    .img-large
      = image_tag("portfolio/bookolico/low/bookolico_pf_11_large_low.jpg",:alt=>"Bookolico project", :"data-src"=>"images/portfolio/bookolico/bookolico_pf_11_large.jpg")
    .description-image
      .corner
      .black-pink-title-small
        %h2
          .container
            %span
              the
              .shadow-right
              .shadow-bottom
            %span
              value
              .shadow-right
              .shadow-bottom
            %span
              of
              .shadow-right
              .shadow-bottom
            %span
              ‘writings’
              .shadow-right
              .shadow-bottom
      %p
        Bookolico will help sharing and trading the value of ‘writings’(shall we call them eBooks?), in a way to respect both the time spent writing and the time spent reading. (Indeed: the cost of the book is equal to the price of the book + value of the time spent reading.
  %hr.spacer-project
  .project-container-photo
    .img-medium
      = image_tag("portfolio/bookolico/bookolico_pf_14.gif",:alt=>"Bookolico project")
  %hr.spacer-project
  .project-container-photo
    .img-large
      = image_tag("portfolio/bookolico/low/bookolico_pf_13_large_low.jpg",:alt=>"Bookolico project", :"data-src"=>"images/portfolio/bookolico/bookolico_pf_13_large.jpg")
  .project-container-photo
    .img-large
      = image_tag("portfolio/bookolico/low/bookolico_pf_12_large_low.jpg",:alt=>"Bookolico project", :"data-src"=>"images/portfolio/bookolico/bookolico_pf_12_large.jpg")



  .bottom-spacer-projects








  %hr.wave
%section.footer
  #bg-footer
    .freakin_icon.bottom
    .freakin_icon.middle
    .freakin_icon.top
    %p.contacts
      <span class="first-letter">The Doers</span> s.r.l. <span class="slash">/</span> <span class="first-letter">P</span>IVA 10766230014 <span class="slash">/</span> <span class="first-letter">T</span>orino, via San Domenico 30 <span class="slash">/</span> <span class="first-letter">W</span>e@thedoersproject.com


