---
title: "SoccerSquare"
---
-# coding: utf-8
%a.logo-doers{href: 'http://www.thedoers.co/'}
= partial'partials/menucontainer'

%section.page.submit
  %h1.main-black-pink-title
    %span.wave_line.left
    %span.wave_line.right
    %span.container
      %span
        soccersquare
        %span.shadow-right
        %span.shadow-bottom

  .black-pink-title
    %h3
      %span
        The soccer experience has
        .shadow-right
        .shadow-bottom
      %span
        never been so social!
        .shadow-right
        .shadow-bottom
    %h2
      .container
        %span
          online
          .shadow-right
          .shadow-bottom
        %span
          social
          .shadow-right
          .shadow-bottom
        %span
          game
          .shadow-right
          .shadow-bottom

  .project-description
    .container-p
      %p.project-description
        Easy, immersive and extremely challenging at the same time!
        On Soccer Square – with a hyper-immersive interface – you will be guided through the first steps of the experience of being a coach: as soon as you get accustomed with rules, rhythms, action and events, you will be able to successfully drive your own team both through championships and friendly games. With Soccer Square you have plenty of opportunities to win, gain and to scale up your proficiency level toward an always more challenging experience!
      %p.project-description
        Soccer Square is the only managerial game about soccer where things happen almost for real! As soon as the time goes on, even if you don’t actively participate, your team will play and end up tired anyway; the grass of your soccer pitch will fade off or grow too much; the floor of the locker room will get dirty and the mood of you team will slow down. You are the coach and they need you! This also means that if you can’t play for a while, you can always come back: maybe your players have missed you a lot, but they are still bravely hard-earning their position on the A-rankings!
        %a.gotoproject{href: 'http://www.sportsquaregames.com/?page_id=211'} Go to project
    %hr.horizontal-dotted
    %hr.vertical-dotted
    %ul.areas
      %li
        .icon.business
        %h5
          Business and service modeling
      %li.active
        .icon.interaction
        %h5
          User experience and Interaction design
      %li.active
        .icon.technology
        %h5
          Technology strategy and digital development
      %li
        .icon.identity
        %h5
          Communication and Identity
      %li.active
        .icon.graphics
        %h5
          Graphics and UI
  .project-info
    .black-pink-title.info
      %h2
        .container
          %span
            info
            .shadow-right
            .shadow-bottom
            %span.update
              last update: 15<span class="slash">/</span> 09<span class="slash">/</span> 2013
    .container-single-info
      %h4
        released on:
      %hr
      %p.date
        <span class="day">10 <span class="slash-date">/</span></span> <span class="month">september <span class="slash-date">/</span> </span>  <span class="year">2012</span>
    .container-single-info
      %h4
        matches played:
      %hr
      %p.users
        >1M
    .container-single-info
      %h4
        press:
      %hr
      %ul.press
        %li
          %a.press{href: 'http://italianvalley.wired.it/news/2013/01/29/sportsquare-giochi-sportivi-social-67296.html'}
            wired
          %p.date-press
            29 <span class="slash-press">/</span> 01 <span class="slash-press">/</span> 2013
        %li
          %a.press{href: 'http://www.lastampa.it/2013/03/01/torinosette/rubriche/web-mistress/web-mistress-rd6Uwiu1vp1SFcmkyzfkZM/pagina.html'}
            la stampa
          %p.date-press
            01 <span class="slash-press">/</span> 03 <span class="slash-press">/</span> 2013
        %li
          %a.press{href: 'http://www.ninjamarketing.it/2012/03/04/il-calcio-diventa-un-social-game-con-soccersquare-intervista/'}
            ninjamarketing
          %p.date-press
            03 <span class="slash-press">/</span> 04 <span class="slash-press">/</span> 2012
    .container-single-info.last
      %h4
        funding:
      %hr
      %ul.funding
        %li
          %span.funder
            320k euros - business angels
        %li
          %span.funder
            100K euros - italiaonline
        %li
          %span.funder
            15K euros + 3 months acceleration, GameFounders
        %li
          %span.funder
            100M MAU - Spilgames

  %hr.spacer-project
  .project-container-photo
    .img-medium.spacer
      = image_tag("portfolio/soccersquare/soccersquare_pf_1.png",:alt=>"Soccersquare project" )
  .project-container-photo
    .img-medium
      = image_tag("portfolio/soccersquare/soccersquare_pf_2.png",:alt=>"Soccersquare project")
  .project-container-photo
    .img-medium
      = image_tag("portfolio/soccersquare/soccersquare_pf_3.png",:alt=>"Soccersquare project" )
  %hr.spacer-project
  .project-container-photo
    .img-medium
      = image_tag("portfolio/soccersquare/soccersquare_pf_4.png",:alt=>"Soccersquare project" )
  %hr.spacer-project
  .project-container-photo
    .img-medium
      = image_tag("portfolio/soccersquare/soccersquare_pf_5.png",:alt=>"Soccersquare project" )
  %hr.spacer-project
  .project-container-photo
    .img-medium
      = image_tag("portfolio/soccersquare/soccersquare_pf_7.png",:alt=>"Soccersquare project" )
  %hr.spacer-project
  .project-container-photo
    .img-large
      = image_tag("portfolio/soccersquare/low/soccersquare_pf_10_low.jpg",:alt=>"Soccersquare project", :"data-src"=>"images/portfolio/soccersquare/soccersquare_pf_10.jpg")
  .project-container-photo
    .img-large
      = image_tag("portfolio/soccersquare/low/soccersquare_pf_9_low.jpg",:alt=>"Soccersquare project", :"data-src"=>"images/portfolio/soccersquare/soccersquare_pf_9.jpg" )
    .description-image
      .corner
      .black-pink-title-small
        %h2
          .container
            %span
              easy,
              .shadow-right
              .shadow-bottom
            %span
              immersive
              .shadow-right
              .shadow-bottom
            %span
              and
              .shadow-right
              .shadow-bottom
            %span
              challenging
              .shadow-right
              .shadow-bottom
      %p
        On Soccer Square – with a hyper-immersive interface – you will be guided through the first steps of the experience of being a coach: as soon as you get accustomed with rules, rhythms, action and events, you will be able to successfully drive your own team both through championships and friendly games.
  .project-container-photo
    .img-large
      = image_tag("portfolio/soccersquare/low/soccersquare_pf_8_low.jpg",:alt=>"Soccersquare project", :"data-src"=>"images/portfolio/soccersquare/soccersquare_pf_8.jpg")


  .bottom-spacer-projects








  %hr.wave
%section.footer
  #bg-footer
    .freakin_icon.bottom
    .freakin_icon.middle
    .freakin_icon.top
    %p.contacts
      <span class="first-letter">The Doers</span> s.r.l. <span class="slash">/</span> <span class="first-letter">P</span>IVA 10766230014 <span class="slash">/</span> <span class="first-letter">T</span>orino, via San Domenico 30 <span class="slash">/</span> <span class="first-letter">W</span>e@thedoersproject.com


